.App {
  padding: 30px;
  display: flex;
  justify-content: center;
}

.App > div {
  margin-right: 50px;
}

.error {
  border: red 2px solid;
}

.error-message {
  color: red;
}

.active-filter {
  background-color: rgb(172, 172, 208);
}

.is-done {
  opacity: 0.5;
}